/* -------- GLOBAL LAYOUTS -------- */
.page-full-center {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Fundo escuro reutilizável */
.page-dark {
  background-color: #111;
  color: #fff;
}

/* Container centralizado */
.page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}
